ansi2html
argparse
azure==4.0.0
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
backports-abc
bandit
boto3
botocore
certifi
cffi
chardet
croniter
Crypto
daemon
distro
futures
gitdb2
gitpython
gprof2dot
idna
jinja2
markupsafe
mock
msgpack
ntplib
pprint
pycrypto
pygit2<0.27.0
pyinotify
pyinstaller==3.3.1
pylint
pyopenssl>=16.2.0
pytest
pytest-cov
pytest-html
pytest-pythonpath
python-dateutil
pyyaml
requests>=2.13.0
salt-ssh
saltpylint
singledispatch
six
smmap2
tornado
urllib3
vulners
